@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#web_bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

/* 主页所有文章页面背景 */
#aside_content .card-widget, #recent-posts&gt;.recent-post-item, .layout_page&gt;div:first-child:not(.recent-posts), .layout_post&gt;#page, .layout_post&gt;#post, .read-mode .layout_post&gt;#post{
    /* 以下代表透明度为0.5 */
    background: rgba(255,255,255,.5);
}
/*侧边栏页面*/
#aside-content&gt;.card-widget  {
	background: rgba(255,255,255,.5);
}
#aside-content&gt;.sticky_layout&gt;.card-widget{
	background: rgba(255,255,255,.5);
}
/*文章页面*/
.layout&gt;#post{
	background: rgba(255,255,255,.5);
}
/*分类页面*/
.layout&gt;#page{
	
	background: rgba(255,255,255,.5);
}
/*时间轴页面*/
.layout&gt;#archive{
	background: rgba(255,255,255,.5);
}