@font-face {
   font-family: 'Hazelnuts';
   font-display: swap;
   src:  url('https://greatbastard-blog-1309491218.cos.ap-chengdu.myqcloud.com/fonts/Hazelnuts/Hazelnuts.woff') format('woff'),  /*chrome、firefox */
         url('https://greatbastard-blog-1309491218.cos.ap-chengdu.myqcloud.com/fonts/Hazelnuts/Hazelnuts.ttf') format('truetype');  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
   font-family: 'Peak';
   font-display: swap;
   src:  url('https://greatbastard-blog-1309491218.cos.ap-chengdu.myqcloud.com/fonts/Peak/Peak.woff') format('woff'),  /*chrome、firefox */
         url('https://greatbastard-blog-1309491218.cos.ap-chengdu.myqcloud.com/fonts/Peak/Peak.ttf') format('truetype');  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
   font-family: 'Song';
   font-display: swap;
   src:  url('https://greatbastard-blog-1309491218.cos.ap-chengdu.myqcloud.com/fonts/Song/Song.woff') format('woff'),  /*chrome、firefox */
         url('https://greatbastard-blog-1309491218.cos.ap-chengdu.myqcloud.com/fonts/Song/Song.ttf') format('truetype');  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
